.mainPasswordSuccessContainer{
    height: 320px;
    max-width: 240px;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
}

.passwordSuccessContainer{
    width: 240px;
    height: 83px;
    padding:0px, 8px, 0px, 8px ;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: center;
    
}
.successImage{
    width: 40px;
    height: 40px;
    align-self: center;
}
.successText{
    width: 224px;
    height: 39px;
    padding:0px, 8px, 0px, 8px;
    gap: 8px;
}
.mainSuccessText{
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color:rgba(29, 36, 51, 1) ;
}
.subSuccesstext{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color:rgba(29, 36, 51, 0.8);
}
