.verificationStatus {
  padding: 56px var(--container-paddingX) 40px;
}

.verificationStatus .verificationPending .pending_image {
  text-align: center;
}
.verificationStatus .verificationError .error_image {
  text-align: center;
}
.verificationStatus .verificationPending .pending_info {
  margin-top: 8px;
}
.verificationStatus .verificationError .error_info {
  margin-top: 8px;
}
.verificationStatus .verificationPending .pending_info .heading {
  font-size: 14px;
  font-family: var(--font-semibold);
  font-weight: 600;
  color: #1d2433;
  text-align: center;
  margin-bottom: 8px;
}
.verificationStatus .verificationPending {
  /* position: relative; */
}
.verificationStatus .verificationPending .popUpLoading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-80%);
  z-index: 100;
}
.verificationStatus .verificationError .error_info .heading {
  font-size: 14px;
  font-family: var(--font-semibold);
  font-weight: 600;
  color: #1d2433;
  text-align: center;
  margin-bottom: 8px;
}
.verificationStatus .verificationError .error_info .info {
  text-align: center;
  font-size: 12px;
}
.verificationStatus .verificationPending .pending_info .info {
  text-align: center;
  font-size: 12px;
}
