.splash {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 340px;
  width: 240px;
}

.splash-img {
  width: 200px;
}

.splash-img img {
  object-fit: contain;
  width: 100%;
}
