.splash {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
}

.splash-img {
  
}

.splash-img img {
  object-fit: contain;
  width: 100%;
}
