.clearImagee{
width: 224px;
height: 224px;
border-radius: 50%;
align-self: center;
}
.blurImagee{
   width: 240px;
   height: 300px;
   border-radius: 0; 
   object-fit: cover;
}
.mainTakeContainer{
    height: 320px;
    max-width: 240px;
  
    display: flex;
    flex-direction: column;
   
  
}
.takeContainerr{
    height: 300px;
    margin-bottom: -40px;
}
.blurContainerr{
    width: 240px;
    height: 300px;

    position: absolute;
}
.clearContainerr{
    
    position: relative;
    top: 0px;
    left: 0px;
    width: 240px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.imgTextt{
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    line-height: 16px;
}
