.mainAgreeContainer{
    height: 320px;
max-width: 240px;

display: flex;
flex-direction: column;
justify-content: space-between;
}
p{
    color: rgba(29, 36, 51, 0.8);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: left;
    
}
.text{
    height: 126px;
    width: 224px;

}
