.createAccountContainer {
  height: 320px;
  max-width: 240px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.subContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    height: 158px;
    width: 240px;
  justify-content: center;
  margin-left:5px;
  

}
input{
    width: 224px;
    height: 38px;
    padding: 8px;
    border: none;
    border-bottom: 1px solid rgba(25, 51, 47, 1);
    background-color: rgba(236, 249, 246, 1);
    border-radius: 8px 8px 2px 2px;

}
img{
    width: 40px;
    height: 40px;
}
.imgContainer{
    width: 56px;
    height: 56px;
    border-radius: 100%;
    background-color: rgba(248, 249, 252, 1);
    padding: 8px;
}

.inputContainer{
    width: 240px;
    height: 86px;
    padding: 0px, 8px, 0px, 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    

}
.subInputContainer{
    width:224px;
    height: 62px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}