.login {
  position: relative;
  padding: 63px var(--container-paddingX) 0;
}

.login .leading {
  font-size: 12px;
  margin-bottom: 8px;
}
.login .subContainer {
  margin-bottom: 8px;
}
.login .disabled {
  border-radius: 8px 8px 2px 2px;
  border: 0px;
  background-color: #f8f9fc;
  padding: 8px;
  font-family: var(--fonts-semibold);
  font-weight: 600;
  background: #f8f9fc;
  border-bottom: 1px solid #e1e6ef;
}

.login input {
  display: block;
  border-radius: 8px 8px 2px 2px;
  border: 0px;
  border-bottom: 1px solid var(--primary);
  background: #ecf9f6;
  padding: 8px;
  width: 100%;
  margin-bottom: 7px;
  font-family: var(--fonts-semibold);
  font-weight: 600;
  outline: none;
}
.login input.disabled {
  background: #f8f9fc;
  border-bottom: 1px solid #e1e6ef;
  color: var(--primary);
}
.login .popUpLoading {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}
