.mainOtpContainer{
    height: 320px;
    width: 240px;
    
    display: flex;
    flex-direction: column;
    gap: 16px;
 
}

.otpContainer{
    height: 89px;
    width: 240px;
    padding:0px, 8px, 0px, 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
}
.text{
    width: 224px;
    height: 42px;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
}
.inputsContainer{
    width: 224px;
    height: 31px;
    display: flex;
    justify-content: space-between;
    gap: 8px;
}
.inputOtp{
    width: 30.67px;
    height: 31px;
    border-radius: 4px;
    padding: 8px;
    background-color: Green
    rgba(236, 249, 246, 1);
    
}