.verifyIdentity{
    padding: 56px var(--container-paddingX) 0;

}
.verifyIdentity .camera_img{
    padding: 24px 0 8px;

}
.verifyIdentity .h1{
    font-family: var(--fonts-semibold);
    font-weight: 600;
    font-size: 14px;
    color: #1D2433;
    line-height: 21px;
}
.verifyIdentity p{
    font-size: 12px;
    margin-top: 2px;
}
