.otp_setup {
  padding: 56px var(--container-paddingX) 0;
}
.otp_approved {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.otp_approved .heading {
  font-family: var(--fonts-semibold);
  font-weight: 600;
  margin: 8px 0;
}
.otp_approved .leading {
  font-size: 12px;
}
.otp_setup .otp_img {
  text-align: center;
  margin-bottom: 16px;
}

.otp_setup .enter_otp {
  display: block;
  font-size: 12px;
  margin-bottom: 8px;
}

.otp_setup input {
  display: block;
  border-radius: 8px 8px 2px 2px;
  border: 0px;
  border-bottom: 1px solid var(--primary);
  background: #ecf9f6;
  padding: 8px;
  width: 100%;
  font-family: var(--fonts-semibold);
  font-weight: 600;
  outline: none;
}
.otp_setup .otp_inputContainer .input_container {
  position: relative;
}
.otp_setup .otp_inputContainer .input_container .loader {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  right: 8px;
}
.otp_setup .otp_inputContainer input.err {
  background-color: #fef1f2;
  border-bottom: 1px solid #e02d3c;
}
.otp_setup .otp_inputContainer input.green {
  border-bottom: 1px solid #ecf9f6;
}
.otp_setup .below_label {
  margin-top: 3px;
}
.otp_setup .below_label .below_label_input {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
}
.otp_setup .below_label .below_label_input.none {
  display: none;
}
.otp_setup .below_label .below_label_err {
  font-family: var(--fonts-semibold);
  font-family: 500;
  color: #e02d3c;
  font-size: 10px;
}
.otp_setup .below_label .below_label_err.none {
  display: none;
}
