.create_account {
  padding: 56px var(--container-paddingX) 0;
  padding: 56px var(--container-paddingX) 0;
}
.create_account .ninimg {
  text-align: center;
  margin-bottom: 16px;
}

.create_account label {
  display: block;
  font-size: 12px;
  margin-bottom: 8px;
}
.create_account input {
  display: block;
  border-radius: 8px 8px 2px 2px;
  border: 0px;
  border-bottom: 1px solid #e1e6ef;
  background: #f8f9fc;
  padding: 8px;
  width: 100%;
  margin-bottom: 7px;
  font-family: var(--fonts-semibold);
  font-weight: 600;
}
.create_account input.item_active {
  border-bottom: 1px solid var(--primary);
  background: #ecf9f6;
}

.create_account input:disabled {
  color: var(--primary);
}

.create_account input.item_active.input.err {
  background-color: #fef1f2;
  border-bottom: 1px solid #e02d3c;
}
.create_account input.item_active.green {
  border-bottom: 1px solid #ecf9f6;
}
.create_account input::placeholder {
  color: rgba(29, 36, 51, 0.65);
  font-size: 12px;
  font-weight: 600;
}
.nin_inputContainer {
  position: relative;
}
.nin_inputContainer .loader {
  position: absolute;
  top: 50%;
  transform: translateY(50%);
  transform: translateY(-50%);
  right: 8px;
}
.create_account input:focus {
  outline: none;
}

.create_account input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}
.create_account .below-label {
  display: flex;
  justify-content: space-between;
}
.create_account .below-label,
.create_account .below-label span {
  font-size: 10px;
}
.create_account .below-label-loading {
  font-size: 10px;
  font-family: var(--fonts-semibold);
  font-weight: 600;
}
.create_account .below-label-approved {
  color: #08875d;
  font-size: 10px;
  font-family: var(--fonts-semibold);
  font-weight: 600;
}
.create_account .below-label-err {
  font-size: 10px;
  font-family: var(--fonts-semibold);
  font-weight: 600;
  color: #e02d3c;
}
.create_account .none {
  display: none;
}
.create_account .below-label .nin {
  font-weight: 600;
}

.create_account .login-button__container {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  font-size: 12px;
  font-weight: 400;
}
.create_account .login-button__container .login-button {
  padding: 4px;
}
.create_account .login-button__container .login-button .login-button__login {
  color: var(--main-brand);
  font-weight: 700;
}

.create_account .login-button__container .login-button.item_active {
  border-radius: 4px;
  border: 1px solid #19332f;
  background-color: #ecf9f6;
}
