.forgotPassword {
  padding: 56px var(--container-paddingX) 0;
  padding: 56px var(--container-paddingX) 0;
}

.forgotPassword .firstScreen .leading {
  font-weight: 600;
  margin-bottom: 12px;
  font-size: 13px;
}
.forgotPassword .verifyScreen .leading {
  font-size: 12px;
  margin-bottom: 8px;
}
.forgotPassword .verifyScreen .bold {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 8px;
}

.forgotPassword .setupScreen .passcode_container {
  font-size: 12px;
  margin-bottom: 8px;
}
.forgotPassword .setupScreen .passcode_container label {
  display: block;
  margin-bottom: 4px;
}

.forgotPassword .popUpLoading {
  position: fixed;
  top: 30%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.forgotPassword .forgotPassword__input {
  position: relative;
}

.forgotPassword .forgotPassword__input--error {
  position: absolute;
  top: 50%;
  transform: translateY(-40%);
  right: 10px;
}

.forgotPassword .forgotPassword__error {
  color: var(--error);
  margin-top: 4px;
  font-size: 11px;
}
