.languageFooter  {
    margin-top: 40px;
    background-color: #19332F;
    text-align: center;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-transform: capitalize;
    height: 29px;
    max-width: 240px;
    /* padding: 4px, 8px, 4px, 8px; */
    padding-top: 4px; 
    padding-left:8px;
    padding-bottom: 4px; 
    padding-right: 8px;
    display: flex;
    justify-content: space-between;
  }
  p{
    text-align: center;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-transform: capitalize;
  }

  .CenterlanguageFooter{
    margin-top: 40px;
    background-color: #19332F;
    text-align: center;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-transform: capitalize;
    height: 29px;
    max-width: 240px;
    padding-top: 4px; 
    padding-left:8px;
    padding-bottom: 4px; 
    padding-right: 8px;
    display: flex;
    justify-content: center;
  }