@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --primary: #19332f;
  --brand: #029772;
  --main-brand: #02b287;
  --light: #ecf9f6;
  --secondary: #fff;
  --text-color: #1d2433;
  --error: #e02d3c;
  --error-bg: #fef1f2;
  --fonts: "Open Sans", "Web Open Sans Regular", "Courier New", Courier,
    monospace;
  --fonts-semibold: "Open Sans", "Web Open Sans SemiBold", "Courier New",
    Courier;
  --fonts-bold: "Open Sans", "Web Open Sans Bold", "Courier New", Courier,
    monospace;
  --container-height: 251px; /*320-(40-29) 40 && 29 from header and softkey*/
  --container-paddingX: 8px;
}
/* 
@font-face {
  font-family: "Montserrat";
  src: url("/public/fonts/mont/montserrat-variablefont_wght-webfont.woff2");
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
input {
  font-family: "Open Sans", "Web Open Sans Regular", sans-serif;
}
html,
body,
#root {
  font-family: "Open Sans", "Web Open Sans Regular", sans-serif;
  font-size: 14px;
  margin: 0;
  min-height: 100vh;
  color: var(--text-color);
  /* overflow: hidden; */
  background-color: white !important;
}
