:root {
  --primary: #19332f;
  --light: #ECF9F6;
  --secondary: #fff;
  --text-color: #1d2433cc;
  --fonts: "Open Sans", "Web Open Sans Regular", "Courier New", Courier,
    monospace;
  --fonts-semibold: "Open Sans", "Web Open Sans SemiBold", "Courier New", Courier;
  --fonts-bold: "Open Sans", "Web Open Sans Bold", "Courier New", Courier,
    monospace;
  --container-height: 251px; /*320-(40-29) 40 && 29 from header and softkey*/
  --container-paddingX: 8px;

}

@font-face {
  font-family: "Web Open Sans Regular";
  src: url("/public/fonts/open-sans/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "Web Open Sans SemiBold";
  src: url("/public/fonts/open-sans/OpenSans-SemiBold.ttf");
}

@font-face {
  font-family: "Web Open Sans Bold";
  src: url("/public/fonts/open-sans/OpenSans-Bold.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  font-family: "Open Sans", "Web Open Sans Regular", sans-serif;
  font-size: 14px;
  margin: 0;
  min-height: 100vh;
  color: var(--text-color);
  /* overflow: hidden; */
  background-color: white !important;
}
