.mainOtpSuccessContainer{
    height: 320px;
    max-width: 240px;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
}
.otpSuccessContainer{
    width: 240px;
    height: 157px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}
.topSection{
    width: 240px;
    height: 60px;
    padding:0px, 8px, 0px, 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    
}
.otpSuccessImage{
    width: 40px;
    height: 40px;
    align-self: center;
}
.topText{

    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color:  rgba(29, 36, 51, 0.8);
}
.bottomSection{
    width: 224px;
    height: 81px;
    border-radius: 16px;
    border:0px, 0px, 1px, 0px ;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color:rgba(248, 249, 252, 1);
}
.textInfo{
    
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: rgba(29, 36, 51, 0.8);
}
.phonNumber{
    
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color:rgba(29, 36, 51, 1);
}